#renderCanvas {
    height: calc(100vh - 65px);
    width: 100%;
    outline: none;
    &:focus {
        outline: none;
    }
}

.overlay {
    color: white;
    background-color: rgba(88, 88, 88, 0.5);
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    .close {
        span {
            cursor: pointer;
        }
        float: right;
        outline: none;
        &:active {
            outline: none;
        }
    }
}