<div class="action-bar">
    <button class="btn btn-outline-success" (click)="save()">Save</button>
    <!--<a class="btn btn-outline-primary" routerLink="/cloud">Sync...</a>-->
    <button class="btn btn-outline-primary" (click)="sync()">Sync</button>
</div>
<table class="table table-striped table-sm table-fit table-dark">
    <thead>
        <tr>
            <td>Hi</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let head of heads; let i = index">
            <td>{{head}}</td>
        </tr>
    </tbody>
</table>