<button class="btn btn-success" (click)="save()">Save</button>
<table class="table table-striped table-sm table-fit">
    <thead>
        <tr>
            <td class="verysmallwidth"><button class="action-btn green" (click)="addHead()"><i class="fas fa-plus"></i></button></td>
            <td>Name</td>
            <td>Manufacturer</td>
            <td class="halfwidth">Channels</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let head of heads; let i = index">
            <td><button class="action-btn red" (click)="deleteHead(i)"><i class="fas fa-times"></i></button></td>
            <td class="editable" (click)="change('name', i)"><i class="fas fa-pen"></i> {{head.name}}</td>
            <td class="editable" (click)="change('manufacturer', i)"><i class="fas fa-pen"></i> {{head.manufacturer}}</td>
            <td>
                <button class="btn btn-link" (click)="toggleShowChannelModes(i)">{{head.showChannelModes ? "Verstecken" : "Anzeigen" }}</button>
                <table class="fullwidth" *ngIf="head.showChannelModes">
                    <thead>
                        <tr>
                            <td class="verysmallwidth"><button class="action-btn green" (click)="addChannelMode(i)"><i class="fas fa-plus"></i></button></td>
                            <td class="smallwidth">Channel Mode</td>
                            <td>Channel Config</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let channelMode of head.channelModes; let j = index">
                            <td><button class="action-btn red" (click)="deleteChannelMode(i, j)"><i class="fas fa-times"></i></button></td>
                            <td>{{channelMode.channels | channelNumberSum}}</td>
                            <td>
                                <table class="fullwidth">
                                    <thead>
                                        <tr>
                                            <td class="verysmallwidth"><button class="action-btn green" (click)="addChannel(i,j)"><i class="fas fa-plus"></i></button></td>
                                            <td>Channel</td>
                                            <td>Type</td>
                                            <td>Name</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let channel of channelMode.channels; let k = index">
                                            
                                            <td><button class="action-btn red" (click)="deleteChannel(i, j, k)"><i class="fas fa-times"></i></button></td>
                                            <td class="editable" (click)="change('channelNumber', i, j, k)"><i class="fas fa-pen"></i> {{channel.number}}{{channel.length > 1 ? " - " + (channel.number + channel.length - 1) : ""}}</td>
                                            <td class="editable" (click)="change('channelType', i, j, k)"><i class="fas fa-pen"></i> {{channel.type}}</td>
                                            <td class="editable" (click)="change('channelName', i, j, k)"><i class="fas fa-pen"></i> {{channel.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>