<app-navbar title="AGLight - Home"></app-navbar>

<StackLayout class="page__content">
    <Label text="Not connected" class="h3"></Label>
    <Button (tap)="scan()">
        <FormattedString>
            <Span class="fas" text="&#xf029;"></Span>
            <Span text=" Scan a QR-Code"></Span>
        </FormattedString>
    </Button>
    <Button (tap)="type()">
        <FormattedString>
            <Span class="fas" text="&#xf11c;"></Span>
            <Span text=" Manually set IP"></Span>
        </FormattedString></Button>
</StackLayout>