<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky h-100 d-flex flex-column pb-4">
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">Settings</h6>
                    <div class="px-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="togglePreview" [ngModel]="previewEnabled" (click)="togglePreview($event)">
                            <label class="custom-control-label" for="togglePreview" (click)="togglePreview($event)">Enable preview</label>
                        </div>
                    </div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>General widgets</span>
                    </h6>
                    <div class="px-3 d-flex justify-content-between">
                        <span>Blackout</span>
                        <button class="action-btn green" (click)="widgetGrid.addGeneralWidget('blackout')"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="px-3 d-flex justify-content-between">
                        <span>Multi Action</span>
                        <button class="action-btn green" (click)="widgetGrid.addGeneralWidget('multiaction')"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="px-3 mt-4">
                        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="search($event)">
                    </div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>{{ ( searchValue == "" ? "All fixtures" : (displayFixtures && displayFixtures.length && searchValue != "" ? "Search results" : "No fixtures found")) }}</span>
                    </h6>
                </div>
                <div class="flex-grow-1 overflow-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let fixture of displayFixtures">
                            <a class="nav-link d-flex justify-content-between">
                                <span>{{fixture.displayName}} <span class="text-muted">| {{fixture.product.name}}</span></span>
                                <div>
                                    <button class="action-btn green" (click)="widgetGrid.addWidget(fixture)"><i class="fas fa-plus"></i></button>
                                    <button class="action-btn blue" (click)="widgetGrid.addEffectWidget(fixture)"><i class="fas fa-magic"></i></button>
                                    <button class="action-btn yellow" (click)="widgetGrid.addFixedChannelWidget(fixture)"><i class="fas fa-thumbtack"></i></button>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Fixed Channels</span>
                    </h6>
                    <div class="flex-grow-1 overflow-auto">
                        <span class="text-muted mx-3" *ngIf="!displayFixedChannels()">
                            No fixed channels
                        </span>
                        <ul class="nav flex-column" *ngIf="displayFixedChannels()">
                            <ng-container *ngFor="let fixture of showService.showData.fixtures">
                                <li class="nav-item" *ngFor="let fixedChannel of fixture.fixedChannels">
                                    <a class="nav-link d-flex justify-content-between">
                                        <span>{{fixedChannel.channel}} <span class="text-muted">| {{fixture.product.name}} |</span> {{fixedChannel.value}}</span>
                                        <div>
                                            <button class="action-btn blue" (click)="editFixedChannel(fixedChannel)"><i class="fas fa-pen"></i></button>
                                            <button class="action-btn red" (click)="removeFixedChannel(fixture, fixedChannel)"><i class="fas fa-times"></i></button>
                                        </div>
                                    </a>
                                </li>
                            </ng-container>
                            
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <widget-grid #widgetGrid [editMode]="true" [previewEnabled]="previewEnabled"></widget-grid>
        </main>
    </div>
</div>