<div class="row p-5">
  <div class="col">
    <div class="card perfectheight">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-success">
          <div class="card-img"><i class="fas fa-book"></i></div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Read the manual</div>
          <div class="card-body">
            <p class="card-text">Start by creating a new empty showGet detailed information about this software.</p>
            <a routerLink="/manual" class="btn btn-success">Read</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card perfectheight">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-info">
          <div class="card-img"><i class="fas fa-code"></i></div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Used components</div>
          <div class="card-body">
            <p class="card-text">Find out which components were used to build this software.</p>
            <a routerLink="/info" class="btn btn-info">Discover</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card perfectheight">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-primary">
          <div class="card-img"><i class="fas fa-file-signature"></i></div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Open Source Licenses</div>
          <div class="card-body">
            <p class="card-text">View all licenses here.</p>
            <a routerLink="/licenses" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
