<div class="modal-header">
    <h4 class="modal-title" [innerHtml]="config.title | safe"></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
    <p [innerHtml]="config.message | safe"></p>
    <div *ngIf="config.type == 'prompt'">
        <input [type]="config.isNumber ? 'number' : 'text'" ngbAutofocus class="form-control" [ngModel]="config.value" (ngModelChange)="changed($event)">
    </div>
    <div *ngIf="['confirm', 'alert'].includes(config.type)" ngbAutofocus></div>
</div>
<div class="modal-footer">
    <button type="button" *ngIf="config.type !== 'alert'" class="btn btn-outline-danger mr-auto" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close(config.value)">OK</button>
</div>