<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top titlebar">
  <a class="navbar-brand nav-link" href="#" *ngIf="canNavigate">AGLight</a>
  <a class="navbar-brand nav-link" (click)="$event.preventDefault();" *ngIf="!canNavigate">3D Viewer</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" *ngIf="canNavigate">
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="item && !item.seperator" class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="showLoaded" routerLink="{{ item.url }}">{{
            item.name
          }}</a>
        </li>
        <li class="nav-item disabled" *ngIf="item.seperator">
          <a class="nav-link disabled"></a>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="canNavigate">
        <a class="nav-link icon" href (click)="toggleSettingsDropdown($event)">
          <i class="fas fa-cog clickable"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          [class.show]="showSettingsDropdown"
        >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            (click)="toggleSettingsDropdown($event)"
            routerLink="avalibleHeads"
            >Heads</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            (click)="toggleSettingsDropdown($event)"
            routerLink="cloud"
            >Cloud</a
          >
        </div>
      </li>
      <li class="nav-icon">
        <a class="nav-link wi down" (click)="minWindow()">
          <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23fff'/%3E%3C/svg%3E">
        </a>
      </li>
      
      <li class="nav-icon">
          <a class="nav-link wi" (click)="maxWindow()">
            <img *ngIf="isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23fff'/%3E%3C/svg%3E">
            <img *ngIf="!isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23fff'/%3E%3C/svg%3E">
          </a>
        </li>
        
      <li class="nav-icon">
          <a class="nav-link wi close" (click)="closeWindow()">
            <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23fff'/%3E%3C/svg%3E">
          </a>
        </li>
    </ul>
  </div>
</nav>
