<div class="row p-5">
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-success">
                    <div class="card-img"><i class="fas fa-plus-circle"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">Create new show</div>
                    <div class="card-body">
                        <p class="card-text">Start by creating a new empty show.</p>
                        <button (click)="newShow()" class="btn btn-outline-success">New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-primary">
                    <div class="card-img"><i class="fas fa-list-ul"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">Open recent</div>
                    <div class="card-body">
                        <p class="card-text">Choose a show from the recent shows menu.</p>
                        <div class="dropdown">
                            <button (click)="showRecentDropdown = !showRecentDropdown" class="btn btn-outline-primary dropdown-toggle">
                Recent
              </button>
                            <div class="dropdown-menu" [class.show]="showRecentDropdown">
                                <a *ngFor="let path of recentShows; let i = index" class="dropdown-item" (click)="recentShow(i)">{{ path }}</a>
                                <a class="dropdown-item disabled" *ngIf="!recentShows || !recentShows.length">No recent shows</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-info">
                    <div class="card-img"><i class="fas fa-folder-open"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">Open show</div>
                    <div class="card-body">
                        <p class="card-text">Open a show file from explorer</p>
                        <button (click)="openShow()" class="btn btn-outline-info">Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-5">
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-danger">
                    <div class="card-img"><i class="fas fa-lightbulb"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">View library</div>
                    <div class="card-body">
                        <p class="card-text">
                            Open a webbrowser to <a routerLink="" (click)="openExternal('https://open-fixture-library.org')">https://open-fixture-library.org</a>. This is the heads library used by AGLight, so if you want to create new heads, just create
                            them there.
                        </p>
                        <a routerLink="" (click)="openExternal('https://open-fixture-library.org')" class="btn btn-outline-danger">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-secondary">
                    <div class="card-img"><i class="fas fa-cloud-upload-alt"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">Title</div>
                    <div class="card-body">
                        <p class="card-text">
                            Description
                        </p>
                        <a routerLink="/" class="btn btn-outline-secondary">Sync</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card perfectheight">
            <div class="row no-gutters">
                <div class="col-md-4 card-img-holder perfectheight bg-warning">
                    <div class="card-img"><i class="fas fa-info-circle"></i></div>
                </div>
                <div class="col-md-8">
                    <div class="card-header">Info</div>
                    <div class="card-body">
                        <p class="card-text">
                            Dive into this software by reading the manual, looking how it was built and viewing the licenses of the used components.
                        </p>
                        <a routerLink="/about" class="btn btn-outline-warning">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>