<div class="col-sm-8 m-auto pt-5">
    <div *ngIf="!loggedin" class="login">
        <h1>Login</h1>
        <div *ngIf="msgCredentialsWrong" class="alert alert-danger">
            <b>Error!</b><br>
            <p>Your username or password is incorrect. Please try again!</p>
        </div>
        <div class="form-group">
            <label for="email">Type in your email address:</label>
            <input id="email" class="form-control" type="email" placeholder="info@example.com" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">Type in your password:</label>
            <input id="password" class="form-control" type="password" placeholder="*******" [(ngModel)]="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
    </div>
    <div *ngIf="loggedin">
        ToDo
    </div>
</div>