@import "~bootstrap/scss/bootstrap.scss";

html, body {
  margin: 0;
  padding: 0;
}

p, span, div {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

a, button {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.main {
  margin-top: 56px;
  height: calc( 100vh - 56px );
}

.action-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 2px 4px;
}
.action-btn.green {
  color: #27ae60;
}
.action-btn.green:hover {
  color: #2ecc71;
}

.action-btn.red {
  color: #c0392b;
}
.action-btn.red:hover {
  color: #e74c3c;
}

.action-btn.yellow {
  color: #f1c40f;
}
.action-btn.yellow:hover {
  color: #fddd5b;
}

.action-btn.blue {
  color: #2980b9;
}
.action-btn.blue:hover {
  color: #3498db;
}

.action-btn.purple {
  color: #8e44ad;
}
.action-btn.purple:hover {
  color: #9b59b6;
}
.action-btn:focus {
  outline: none !important;
}
.editable {
  cursor: pointer;
}
.editable:hover {
  background-color: rgb(224, 224, 224);
}

.selectcard {
  float: left;
  width: 20rem;
  margin: 0.5rem;
  &.selected {
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
    box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
  }
}

.action-bar {
  padding: 5px;
  width: 100%;
  .btn {
    margin-right: 5px;
  }
}

.card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

div.card-img {
  font-size: 4em;
  color: rgba(255, 255, 255, 0.822);
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

div.card-img-holder {
  position: relative;
}

.perfectheight {
  height: calc( (100vh - 400px) / 2 );
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}