@import "~bootstrap/scss/bootstrap.scss";

html, body {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 56px;
  height: calc( 100vh - 56px );
}

.action-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 2px 4px;
}
.action-btn.green {
  color: #27ae60;
}
.action-btn.green:hover {
  color: #2ecc71;
}

.action-btn.red {
  color: #c0392b;
}
.action-btn.red:hover {
  color: #e74c3c;
}

.action-btn.yellow {
  color: #f1c40f;
}
.action-btn.yellow:hover {
  color: #fddd5b;
}

.action-btn.blue {
  color: #2980b9;
}
.action-btn.blue:hover {
  color: #3498db;
}

.action-btn.purple {
  color: #8e44ad;
}
.action-btn.purple:hover {
  color: #9b59b6;
}
.action-btn:focus {
  outline: none !important;
}
.editable {
  cursor: pointer;
}
.editable:hover {
  background-color: rgb(224, 224, 224);
}

.selectcard {
  float: left;
  width: 20rem;
  margin: 0.5rem;
  &.selected {
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
    box-shadow: 0px 0px 18px -1px rgba(0,140,255,1);
  }
}