@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
html,
body {
    margin: 0;
    padding: 0;
}

p,
span,
div {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

a,
button {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.clickable,
.clickable * {
    cursor: pointer !important;
}

.main {
    margin-top: 56px;
    margin-bottom: 23px;
    height: calc( 100vh - 79px);
    overflow-x: hidden;
}

.action-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 2px 4px;
}

.action-btn.green {
    color: #27ae60;
}

.action-btn.green:hover {
    color: #2ecc71;
}

.action-btn.red {
    color: #c0392b;
}

.action-btn.red:hover {
    color: #e74c3c;
}

.action-btn.yellow {
    color: #f1c40f;
}

.action-btn.yellow:hover {
    color: #fddd5b;
}

.action-btn.blue {
    color: #2980b9;
}

.action-btn.blue:hover {
    color: #3498db;
}

.action-btn.purple {
    color: #8e44ad;
}

.action-btn.purple:hover {
    color: #9b59b6;
}

.action-btn:focus {
    outline: none !important;
}

.editable {
    cursor: pointer;
}

.editable:hover {
    background-color: rgb(88, 88, 88);
}

.selectcard {
    float: left;
    width: 20rem;
    margin: 0.5rem;
    &.selected {
        -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 140, 255, 1);
        -moz-box-shadow: 0px 0px 18px -1px rgba(0, 140, 255, 1);
        box-shadow: 0px 0px 18px -1px rgba(0, 140, 255, 1);
    }
}

.action-bar {
    padding: 5px;
    width: 100%;
    .btn {
        margin-right: 5px;
    }
}

.card-header {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
}

div.card-img {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.822);
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

div.card-img-holder {
    position: relative;
}

.perfectheight {
    min-height: calc( (100vh - 400px) / 2);
}

.text-slightly-muted {
    color: #b9b9b9;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

thead tr td {
    font-weight: bold;
}

.middlewidth {
    width: 10em;
}

.fullwidth {
    width: 100%;
}

.smallwidth {
    width: 5em;
}

.verysmallwidth {
    width: 1em;
    &.double {
        width: 3.5em;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #616161;
    border: 0px none #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525252;
}

::-webkit-scrollbar-thumb:active {
    background: #4f4f4f;
}

::-webkit-scrollbar-track {
    background: #191D21;
    border: 0px none #ffffff;
    border-radius: 12px;
}

::-webkit-scrollbar-track:hover {
    background: #191D21;
}

::-webkit-scrollbar-track:active {
    background: #191D21;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* Theme */

.card {
    background-color: #424242;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dropdown-menu {
    background-color: #2e2e2e;
}

.dropdown-item:hover {
    background-color: #4b4b4b;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.sidebar {
    background-color: #252525 !important;
    .nav-link {
        font-weight: 400 !important;
    }
}

.modal-content {
    border-radius: 0;
    background-color: #3a3a3a;
    .modal-body {
        max-height: calc(100vh - 14rem);
        overflow: auto;
    }
    .close {
        span {
            color: #fff;
        }
    }
}

pre {
    color: #fff;
}

.btn-round {
    border-radius: 1000px;
}