<div class="row px-5 py-3">
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://electronjs.org')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/electron.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Electron</div>
          <div class="card-body">
            <p class="card-text">
              Electron (formerly known as Atom Shell) is an open-source
              framework developed and maintained by GitHub. Electron allows for
              the development of desktop GUI applications using web
              technologies: It combines the Chromium rendering engine and the
              Node.js runtime. Electron is the main GUI framework behind several
              notable open-source projects including Atom, GitHub Desktop, Light
              Table, Visual Studio Code, and WordPress Desktop.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://angular.io/')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/angular.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Angular</div>
          <div class="card-body">
            <p class="card-text">
              Angular (commonly referred to as "Angular 2+" or "Angular v2 and
              above") is a TypeScript-based open-source web application
              framework led by the Angular Team at Google and by a community of
              individuals and corporations. Angular is a complete rewrite from
              the same team that built AngularJS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-5 py-3">
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://getbootstrap.com/')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/bootstrap.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Bootstrap</div>
          <div class="card-body">
            <p class="card-text">
              Bootstrap is a free and open-source CSS framework directed at
              responsive, mobile-first front-end web development. It contains
              CSS- and (optionally) JavaScript-based design templates for
              typography, forms, buttons, navigation and other interface
              components.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://fontawesome.com/')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/fontawesome.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Font awesome</div>
          <div class="card-body">
            <p class="card-text">
              Font Awesome is a font and icon toolkit based on CSS and LESS. It
              was made by Dave Gandy for use with Twitter Bootstrap, and later
              was incorporated into the BootstrapCDN. Font Awesome has a 20%
              market share among those websites which use third-party Font
              Scripts on their platform, ranking it second place after Google
              Fonts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-5 py-3">
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://github.com/coderaiser/smalltalk')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img">
            <i class="fas fa-comments"></i>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Smalltalk</div>
          <div class="card-body">
            <p class="card-text">
              Simple Promise-based replacement of native Alert, Confirm and
              Prompt for Electron.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://nodejs.org')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/nodejs.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">NodeJS</div>
          <div class="card-body">
            <p class="card-text">
              Node.js is an open-source, cross-platform, JavaScript runtime
              environment that executes JavaScript code outside of a browser.
              Node.js lets developers use JavaScript to write command line tools
              and for server-side scripting—running scripts server-side to
              produce dynamic web page content before the page is sent to the
              user's web browser.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-5 py-3">
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://www.typescriptlang.org')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <img class="img-fluid" src="assets/info/logos/typescript.png" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Typescript</div>
          <div class="card-body">
            <p class="card-text">
              TypeScript is an open-source programming language developed and
              maintained by Microsoft. It is a strict syntactical superset of
              JavaScript, and adds optional static typing to the language.
              TypeScript is designed for development of large applications and
              transcompiles to JavaScript.[5] As TypeScript is a superset of
              JavaScript, existing JavaScript programs are also valid TypeScript
              programs. TypeScript may be used to develop JavaScript
              applications for both client-side and server-side (Node.js)
              execution.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://github.com/zefoy/ngx-perfect-scrollbar')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <i class="fas fa-code"></i>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">Angular Perfect Scrollbar</div>
          <div class="card-body">
            <p class="card-text">
              This is an Angular wrapper library for the Perfect Scrollbar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-5 py-3">
  <div class="col-6">
    <div class="card perfectheight clickable" (click)="openExternalLink('https://github.com/node-dmx/dmx')">
      <div class="row no-gutters">
        <div class="col-md-4 card-img-holder perfectheight bg-dark">
          <div class="card-img p-3">
            <i class="fas fa-plug"></i>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-header">node-dmx</div>
          <div class="card-body">
            <p class="card-text">
              DMX-512 controller library for node.js. It has multiple drivers
              for controlling different dmx interfaces.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-6">
          <div class="card perfectheight clickable" (click)="openExternalLink('replace')">
            <div class="row no-gutters">
              <div class="col-md-4 card-img-holder perfectheight bg-dark">
                <div class="card-img p-3">
                  <i class="fas fa-code"></i>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-header">Angular Perfect Scrollbar</div>
                <div class="card-body">
                  <p class="card-text">
                      This is an Angular wrapper library for the Perfect Scrollbar.
                </div>
              </div>
            </div>
          </div>
        </div>-->
</div>
