name: Lint
on: [push]

jobs:
  build_on_linux:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: 10
    - name: Install dependencies
      run: npm install
    - name: Install dependencies 2
      run: npm install
      working-directory: mobile
    - name: Lint
      run: npm run lint